 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e3f2fd;
  }

  main {
    flex: 1 0 auto;
  }

.nav-wrapper {
    margin-left: 1%;
}

.nav-content .wrapper {
    margin-left: 1%;
    height: 50vh;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.theme {
    background-color: #1976d2!important;
}

.theme-2 {
    background-color: #1565c0!important;
}

.icon:hover { /* Customizes GitHub icon */
  fill: #e1e1e1;
}
.icon { /* Customizes all icons at once */
  display: inline-block;
   fill: white;
}

.contact-email {
    line-height: 300%;
    vertical-align: middle;
}
.contact-email:hover {
    background-color: #1565c0;
}

.contact-email-text {
    display: flex;
    align-items: center;
}

.social-hero {
    font-size: 20px;
}

.footer-linktab:hover {
    background-color: #1565c0;
}

.footer-linktab-text {
    line-height: 250%;
    margin-left: 10px;
}

.page-content {
    margin: 1%;
}

.card-action a {
    color: #1e88e5!important;
}

.card-action a:hover {
    color: #bbdefb!important;
}